WEB TECHNOLOGY/Practical_5_A/employee.dtd

<!-- External DTD file for Employee Information -->
<!-- File: employee.dtd -->

<!ELEMENT employees (employee+)>
<!ELEMENT employee (empId, empName, department, designation, email, salary)>
<!ELEMENT empId (#PCDATA)>
<!ELEMENT empName (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT designation (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ATTLIST employee id CDATA #REQUIRED>
<!ATTLIST employee status (active|inactive) "active">
